<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input id="marker_location" placeholder="Enter Place or Address" type="text"></input>
  </div>
  
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :formatted_address %><br>
    <%= f.text_field :formatted_address %>
  </div>
  <div class="field">
    <%= f.label :formatted_phone_number %><br>
    <%= f.text_field :formatted_phone_number %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :map_ref %><br>
    <%= f.text_field :map_ref %>
  </div>
  <div class="field">
    <%= f.label :photos_url %><br>
    <%= f.text_field :photos_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>